.plusimg {
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    transition: opacity 0.7s;
}

.plusimg.show {
    opacity: 1;
}

.dutyWrap {
    font-size: 13px;
    line-height: 20px;
    font-weight: bold;
    padding-top: 5px;
    padding-left: 20px;
    background: #fff !important;
    width: 200px;
}

.dayNotice {
    display: inline-block;
    width: 35px;
}

.dutyNotice {
    color: #3B3B3B;
}

.dutyWrap.past .dutyNotice{
    color: #A4A3A3;
}

.dutyWrap.today .dayNotice{
    color: #F00;
}

.dutyWrap.tomorrow .dayNotice{
    color: #F56E1E;
}
